---
layout: base.njk
title: My Personal Website
---

<div id="container">
  <div class="tile"></div>
</div>

<div class="profile-container">
  <div class="profile-content">
    <div class="profile-image">
      <!-- Placeholder for profile image -->
      <div class="profile-image-placeholder"></div>
    </div>
    <div class="profile-text">
      <h1 data-text="daniel bermúdez">daniel bermúdez</h1>
      {# <p class="title">Your Title / Role</p> #}
      <p class="bio">I am a forward-thinking System Manager navigating the digital frontier, 
      focused on integrating transformative AI workflows that enhance operational efficiency 
      while promoting ethical practices and social justice. With expertise in AI technologies, 
      system architecture, data governance, and automation, I collaborate with cross-functional 
      teams to implement innovative AI solutions that drive business success and accountability. 
      Passionate about leveraging technology to empower communities and catalyze change, I stay 
      updated on industry trends, continuously optimizing systems while advocating for AI's 
      potential to create a more equitable and sustainable future.</p>
    </div>
  </div>
</div>

<div id="links">
  <div class="meta-link">  
    <span class="label">Links</span>
    <span class="dot">·</span>
    <a class="source" href="https://rauno.me/" target="_blank" title="Source">
      <i class="fa-solid fa-link"></i>
    </a>
    <span class="dot">·</span>
    <a class="youtube" href="https://youtu.be/K6h2ZvR5SX0" target="_blank" title="Tutorial">
      <i class="fa-brands fa-youtube"></i>
    </a>
  </div>
</div>
