---
layout: base.njk
title: bermudi.dev
---

<div id="container">
  <div class="tile"></div>
</div>

<div class="profile-container">
  <div class="profile-content">
    <div class="profile-image">
      <!-- Placeholder for profile image -->
      <div class="profile-image-placeholder"></div>
    </div>
    <div class="profile-text">
      <h1 data-text="daniel bermúdez">daniel bermúdez</h1>
      {# <p class="title">Your Title / Role</p> #}
      <p class="bio">As a System Manager, I specialize in integrating AI and automation to improve operational 
      efficiency and system architecture. In a world where truth is often obscured by layers of misinformation, 
      I fight to ensure that technology serves the common good and promotes social justice, battling against 
      the tide of ignorance.</p>
      <p class="quote">"It does not require a majority to prevail, but rather an irate, tireless minority keen 
      to set brush fires in people's minds."</p>
    </div>
      <div id="links">
        <span class="label">Links</span>
        <div class="meta-link">  
          <a class="github" href="https://github.com/bermudi" target="_blank" title="Github">
            <i class="fa-brands fa-github"></i>
          </a>
          <span class="dot">·</span>
          <a class="youtube" href="https://www.youtube.com/@bermudx" target="_blank" title="YouTube">
            <i class="fa-brands fa-youtube"></i>
          </a>
          <span class="dot">·</span>
          <a class="bluesky" href="https://bsky.app/profile/bermudx.bsky.social" target="_blank" title="Bluesky">
            <i class="fa-brands fa-bluesky"></i>
          </a>
          <span class="dot">·</span>
          <a class="linkedin" href="https://www.linkedin.com/in/bermudi/" target="_blank" title="LinkedIn">
            <i class="fa-brands fa-linkedin"></i>
          </a>
      </div>
  </div>
  </div>
</div>

